<!-- <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
    <app-row-component
      formControlName="pokemon"
      placeholder="Pokemon's name"
      [options]="pokemons$ | async"
    >
    </app-row-component>
    <app-row-component
      formControlName="swCharacter"
      placeholder="SW character's name"
      lengthToTriggerSearch="2"
      [options]="swCharacters$ | async"
    >
    </app-row-component>
    <div>
      <button mat-raised-button color="primary">submit</button>
    </div>
  </form> -->